[2016-03-02 12:16] agura opened #2 "Decrease required heap size for tests"
Now tests require 4G heap size. It's too big value for CI environment.

[2016-03-02 20:52] #2 closed

[2016-03-03 09:20] agura opened #4 "Add build status icon"
Build status icon should be added to `README.adoc` file

[2016-03-03 09:22] cescoffier commented on #2
I've switch back the build to use a "regular" slave. Let's see how it goes.

[2016-03-03 09:52] agura commented on #4
Done.

[2016-03-03 09:52] #4 closed

[2016-03-03 09:53] agura commented on #2
Thanks, Clement! Build passed.

[2016-03-03 13:18] agura opened #6 "Minimize heap size requirements for tests"
Tests failes with OOM. Need to adopt test configuration in order to reduce heap size requirements. There are the following possibilities:
- decrease partions count for cache template;
- decrease initial size of circular buffer.

[2016-03-04 18:10] patrickvankann opened #8 "Handlers with same address do not receive messages on a round-robin basis when in separate Vert.x Ignite cluster nodes"
When two instances of the same handler are registered on the same address but in different Vert.x cluster instances and the IgniteClusterManager is used, they do not alternate in receiving messages from a sender. When they are on the same cluster node, this behaviour works.

The HazelcastClusterManager works as expected in both scenarios.

There is a reproducer project being created in GitHub. See

[2016-03-04 21:54] patrickvankann commented on #8
https://github.com/patrickvankann/vertx-ignite-issue-8-reproducer

Import to Eclipse as Maven project and then choose Reproducer.java and "Run As --> Java program".

This will start a 3 node Vertx Ignite cluster. The console output will show that always the same Receiver instance receives the message from Sender instead of alternating.

[2016-03-05 16:02] #6 closed

[2016-03-09 16:33] alexGalushka opened #9 "Instantiate IgniteClusterManager with Ignite Spring configuration xml file URL"
It's useful for testing purposes especially with PowerMockito, it's related to the issue when class loader is mocked along with static classes, it sort of described [here](http://stackoverflow.com/questions/16520699/mockito-powermock-linkageerror-while-mocking-system-class).

[Here ](https://gist.github.com/alexGalushka/8bdc30acfbc6b54169b8)is the gist for it.

[2016-03-11 10:15] patrickvankann commented on #8
I checked out your pull request, rebuilt 3.3.0 and can verify this seems to address the issue. Cheers!

[2016-03-11 15:57] alexGalushka commented on #9
@agura Let me know if you would like be to submit a PR for this...

[2016-03-14 08:15] agura commented on #9
@alexGalushka Could you please create corresponding PR? I'll review and merge it. Thx.

[2016-03-14 18:31] alexGalushka commented on #9
@agura Done, https://github.com/vert-x3/vertx-ignite/pull/11

[2016-03-17 19:02] agura commented on #8
Thanks for feedback. Merged into master.

[2016-03-17 19:02] #8 closed

[2016-03-24 12:34] agura commented on #9
Revied and merged.

Thanks.

[2016-03-24 12:34] #9 closed

[2016-03-24 19:00] alexGalushka opened #12 "GridName"
@agura  I've realized that whenever we .start() the new grid we generate the unique ID for the node and set it in the Ignite config, we use the same exact ID and vertx prefix to set the gridName in the Ignite config. Whenever we instantiate the IgniteClusterManager it would be nice to get the node Id generated, so the setNodeId could be called from the constructor instead of loadConfiguration() an

[2016-03-25 20:40] alexGalushka commented on #12
@agura I took a stab on it in this [PR](https://github.com/vert-x3/vertx-ignite/pull/13), plz take a look

[2016-03-28 09:44] agura commented on #12
@alexGalushka I took a look at your PR and I think that it should simpler. I think that it is enough no initialize `nodeID` filed during object instantiation and then use it in `setNodeId` method.

[code]
By the way, `setNodeId` method should be renamed to `setNodeID` because we already have `getNodeID` method.

Also see my comments to PR itslef.

I'll create new PR today.

[2016-03-28 10:10] agura commented on #12
See PR #14.

[2016-03-28 14:52] alexGalushka commented on #12
@agura I think I'm confused by inconsistent Apache Ignite documentation, I'm trying to square this away at the[ Ignite forum](http://apache-ignite-users.70518.x6.nabble.com/Ignite-terminology-td3687.html#a3709). It seems like from Vladimir's response that the gridName is actually gridInstanceName, and as you said the "node name". How to name the cluster (I naively assumed that gridName is the clus

[2016-03-28 15:24] agura commented on #12
For now `gridName` is just node name. It is impossible to start multiple nodes with the same `gridName`.

[2016-03-28 16:09] alexGalushka commented on #12
@agura I run the each Ignite node in the docker container, so I have dedicated JVM and Vert.x instance per node... In this case the same gridName (cluster name, not the node name) will work, but the problem is that there is no true gridName, it's just a node name :-(

[2016-03-28 16:26] agura commented on #12
Why do you need grid name?

[2016-03-28 17:14] alexGalushka commented on #12
I need the cluster (grid) name to get all the nodes which belong to this cluster and then target the particular node, or all of them in this cluster. I initially thought that with Ignition.ignite("MY_CLUSTER_NAME").cluster().nodes() I can achieve that...

[2016-03-28 17:19] agura commented on #12
Cluster defines as set of nodes that connect each other. So `Ignition.localIgnite().cluster().nodes()` will return you all cluster nodes.

[2016-03-28 17:38] alexGalushka commented on #12
Andrey, thanx a ton, I think I'm eventually getting the Ignite concept
here: so if ignite nodes discover each other (discovery configuration
defines the cluster), then each node in that defined cluster aware about
all the nodes of the cluster and Ignition.localIgnite().cluster().nodes() will
return all the nodes of that cluster.

On Mon, Mar 28, 2016 at 1:19 PM, Andrey Gura <notifications@github.c

[2016-03-28 20:41] agura commented on #12
@alexGalushka Do you still need this issue to be implemented?

[2016-03-28 20:50] alexGalushka commented on #12
@agura I'm not blocked, thank you for clarifying a few things here :) But it would be nice to give the node custom node through the configuration file, someone eventually will need it and will be wondering why the config setting for gridName is not working. However since we've exposed the node ID on the IgniteClusterManger instantiation, we can derive gridName (node name) from the vertx prefix and

[2016-03-28 22:48] agura commented on #12
@alexGalushka Actually, I don't understand how node ID or grid name can be useful in case of using Ignite as vert.x cluster manager.

[2016-03-29 10:55] agura commented on #12
Fixed by #14.

[2016-03-29 10:55] #12 closed

[2016-03-29 18:27] alexGalushka commented on #12
@agura I've played around with multiple ways on how to get the collection of nodes which belong to one specific cluster.

My setup: VM {Ubuntu 15.04; 4 cores}, 2 docker containers (each has its own JVM, each deploys its own Vert.x clustered with Apache Ignite as a cluster manager, I use multicast for node discovery)

First, Ignition.localIgnite().cluster().nodes() returns NULL

Also in the javadoc

[2016-03-30 11:04] agura commented on #12
@alexGalushka I think that using `gridName` for getting all cluster nodes isn't good idea. `gridName` is usefull for testing purposes but from my point of view it brings some difficulties during configuration and support.

I haveworkaround for you that allows get all cluster nodes:

[code]

If you run your nodes in different JVMs then `Ignition.allGrids()` always returns exactly one element in lis

[2016-04-01 14:40] alexGalushka commented on #12
@agura I've tested it. The IDs which I get on IgniteClusterManager instantiation don't match the IDs I get from the nodes using the suggested workaround.

Here is the print puts from console (for one node):

cpcontainer2_1 | ****** Main Method has been invoked ******
cpcontainer2_1 | ****** IN MAIN the NODE ID is: **7df060f3-493c-4498-9687-65de833716b5**
cpcontainer2_1 | ***** Starting the IgniteV

[2016-04-01 14:46] alexGalushka commented on #12
@agura I got the ID match when I use the gridName

System.out.println("Here are the nodes in the APPLIANCE : "
        + Ignition.ignite("APPLIANCE").cluster().nodes()
        .stream().map(node -> node.id()).collect(Collectors.toList()).toString());

[2016-04-01 14:55] agura commented on #12
@alexGalushka From log I see only node IDs but don't see expected node IDs. Could you please provide you test code snippet?

[2016-04-01 15:14] alexGalushka commented on #12
@agura my bad, the workaround works! for some weird reason I've been using my forked vertx-ignite with the initial PR changes, which had the setConsistentId() instead of setNodeId, that has caused the ID mismatch. Thank you, Andrey!

[2016-04-26 13:01] cescoffier opened #15 "Stuck in shutdown hook"
When I run the ignite cluster manager from a fat jar and when I kill it using CTRL+C, it is waiting for a very long time before exiting:

[code]

The thread dump is the following:

[code]

[2016-04-26 15:02] agura commented on #15
@cescoffier Perhaps Ignite should disable own shutdown hook when used as cluster manager. Could you please repeat the same with `-DIGNITE_NO_SHUTDOWN_HOOK=true` parameter? Or may be you can share your reproducer?

[2016-04-26 15:04] agura commented on #15
@cescoffier Clement, I have a question about labels for issues and pull requests. Why `vertx-ignite` doesn't have labels like `to_review` and other (like other vert-x stack projects)?

[2016-05-05 16:56] agura commented on #15
Fixed in https://github.com/vert-x3/vertx-ignite/pull/16

[2016-05-05 16:56] #15 closed

[2016-05-25 13:28] agura opened #17 "Update Ignite version to 1.6"

[2016-05-25 15:36] #17 closed

[2016-08-08 12:13] agura opened #19 "Upgrade Ignite version up to 1.7"
Apache Ignite 1.7 release contains contains many improvements and fixes. Ignite dependencies versions should be upgraded up to 1.7.0.

[2016-09-23 13:58] #19 closed

[2016-09-23 13:59] agura opened #21 "Implement new cluster manager tests"
Needs to implement new cluster manager tests. See https://github.com/eclipse/vert.x/pull/1609

[2016-09-23 14:01] agura commented on #21
Won't fix.

[2016-09-23 14:01] #21 closed

[2016-09-26 13:44] tsegismont opened #23 "Lock is not released when node goes down"
Following up on eclipse/vert.x#1609, I have tried to apply the new lock tests, which verify that a lock is released when the holding node is killed or goes down.

It seems the current implementation does not support this. Maybe it could be reworked around cache locks?

[2016-09-26 18:46] agura commented on #23
@tsegismont I don't think that lock should be released in case of node gone. Actually lock is held by cluster but node particular node.

[2016-09-27 08:25] tsegismont commented on #23
That is not true. If a lock acquired on a node isn't released when this
node goes down, then no other node will be able to acquire it later.

2016-09-26 20:46 GMT+02:00 Andrey Gura <notifications@github.com>:

[2016-12-21 14:22] agura opened #29 "Update Ignite version 1.8"

[2016-12-24 15:22] #29 closed

[2016-12-24 15:22] #23 closed

[2016-12-26 11:32] agura opened #31 "Update notifier should be disabled for tests"
Update notifier should be disabled for tests in order to reduce execution time.

[2016-12-26 11:34] #31 closed

[2017-01-15 12:59] onesse opened #34 "Choose programmatically xml conf file"
Hi,

It would be great if we could choose programmatically the configuration file like this :
[code]
Regards,

[2017-01-19 13:52] agura commented on #34
@onesse You can do this using the following code snippet:

[code]

[2017-01-19 13:52] #34 closed

[2017-03-02 10:00] onesse opened #37 "Thread blocked when removing object from AsyncMap"
Good morning,

In order to place the context, we have 4 servers running continuously, one of them use the feature "sharedData" to store important information.
[code]
But sometimes, when this machine call the async function remove, the thread running our verticle blocks for a long time. It shouldn't be blocked, I don't understand what's going on ?
Below, you'll find our program output (
[code]
On I

[2017-03-06 12:53] agura opened #38 "Update Apache Ignite version up to 1.9"
Update Apache Ignite version up to 1.9.

[2017-03-06 13:45] agura commented on #37
It seems that you have network problems during connection creation:

[code]

Could you please provide more details about your configuration (NAT, cotainers, smth else)?

[2017-03-07 16:59] onesse commented on #37
To give you more details :
- 3 machines with public IP in the same datacenter (no containers)
- SSL connection enabled between them
- one machine is storing data in the "inGridMap"
- 3..3.3 vertx version

I pretty sure it's a configuration problem (JVM or ignite)  (I'm a newbie)

Since my last message I did not experienced this bug again but another one very annoying (i'll open a new issue for it)

[2017-03-08 16:49] agura commented on #37
@onesse At first look configuration is ok. Could you check connectivity without SSL? Also please check that  there are free open ports for connections because 20000 and 20010 ports are responsible only for connection accepting. And try to find connect related exceptions in logs (not only Vert.x block checker warnings).

[2017-03-10 16:06] tsegismont opened #40 "Adapt to WorkerExecutor changes"
See eclipse/vert.x#1869

[2017-03-10 16:10] #38 closed

[2017-03-10 16:32] #40 closed

[2017-03-12 15:01] agura commented on #37
@onesse Is this issue still actual or I can close it?

[2017-03-12 15:03] onesse commented on #37
@agura I tried to reproduce it without success !
You can close it. Thanks :)

[2017-03-12 15:08] #37 closed

[2017-03-24 04:23] bdarwin opened #43 "Ignite cache is closed when node is out of topology or network failures"
When there is a network issue and a node can't reach another node for quite sometime, i see the below error and cache is closed.

`2017-02-22 04:14:58.922 vert.x-worker-thread-1 INFO  ignite.IgniteClusterManager -  javax.cache.CacheException: class org.apache.ignite.IgniteCheckedException: Failed to wait for topology update, cache (or node) is stopping.`

Once cache is closed the node is literally

[2017-03-24 16:02] onesse opened #44 "Ghost message consumer"
Hello,

I need to place the context :
- 2 machines (VMs) described as A and B below,
- vertx 3.4.1 + ignite
- ssl off
- A and B are connected with a distributed event-bus and A sending messages to B then B send them back to A.

Stops node A and restart it ... messages received by A are consumed twice (or sent twice by B) ! Restart one more time A, messages are consumed three times by A.

I wrote a

[2017-03-27 12:25] agura commented on #43
I don't understand how are closed cache and network issue related. Could you please provide more details (logs, steps to reproduce)? Ideally to have a reproducer.

[2017-03-27 12:35] agura commented on #44
Thanks for reproducer. I'll take a look later.
You can try to switch off read from backups in cache configiration:

`<property name="readFromBackup" value="false"/>`

[2017-03-29 12:40] agura commented on #44
@onesse Did you try to reproduce problem with configuration changes suggested in the previous comment?

[2017-03-29 18:19] onesse commented on #44
@agura , sorry for the late reply ...
No effect ! Message is always consumed twice.

[2017-04-01 13:54] bdarwin commented on #43
It so happened that when there was a network outage I saw this message in one of the the node logs and cache is closed.
May be it's not related to network at all.
But what does the this exception mean? Why node is stopping if it can't get typology update?
I will get a sample soon.

[2017-05-29 08:44] ctranxuan opened #47 "Upgrade to Ignite v2.0"
Hi,
Apache Ignite has released a new version v2.0. Some async APIs has been deprecated...
That would be great if this component could also upgrade its Ignite version.

Many thanks in advance!

Cédric.

PS : in the meantime, we will try to upgrade it manually to see whether we've got some issues or not.

[2017-06-05 15:26] pavlafed commented on #44
I can see the same problem.  It seems updates to subs are not correctly recorded.  When node crashes, it is not removed from subs and next time it restarts, it is added one more time, hence creating duplicate registration.  This then leads to duplicate messages being sent to this node as code iterates over list of subs.

I am not sure what is causing this, maybe return null; statement on line 181

[2017-06-09 16:18] fangtong commented on #44
The AsyncMultiMapImpl add value is not guaranteed to be unique. on line 107
![image](https://user-images.githubusercontent.com/2487726/26984479-22f046ee-4d72-11e7-96e8-f7e5c08bcaee.png)

[2017-06-09 16:20] guoyu511 commented on #44
I got the problem two. According to the interface definition in vert.x core, the key / value pair in a AsyncMultiMap should be unique.

[2017-06-09 21:12] vietj commented on #44
perhaps there should be a test in the Vert.x clustering tests for this, WDYT @tsegismont ?

[2017-06-12 07:32] tsegismont commented on #44
@vietj there's the io.vertx.test.core.FaultToleranceTest already in the
core test suite. It's not implemented in vertx-ignite though.

2017-06-09 23:12 GMT+02:00 Julien Viet <notifications@github.com>:

[2017-06-12 07:40] vietj commented on #44
can we have the FaultTolerance test implemented in this project ?

[2017-06-13 01:59] guoyu511 commented on #44
@vietj I've create a PR #48 for that, including the FaultToleranceTest

[2017-06-13 13:02] agura commented on #43
I think that node was stopped due to network segmentation. You can turn on logs on DEBUG level for `org.apache.ignite.spi.discovery.tcp` package and grep for `SEGMENTED` pattern.

[2017-06-13 13:42] agura commented on #44
@guoyu511 Thanks for your investigation and PR. But Javadoc for `AsyncMultiMap` states:

So I think that better way is replace List by Set.

I'll do it today and check tests.

[2017-06-13 14:54] guoyu511 commented on #44
@agura that should be the better way.

[2017-06-14 09:43] agura commented on #44
I've committed fix https://github.com/vert-x3/vertx-ignite/pull/49

[2017-06-15 16:04] #44 closed

[2017-06-15 16:42] agura commented on #47
@ctranxuan I hope Ignite version will be updated in the next release of vert.x

[2017-06-16 07:15] ctranxuan commented on #47
Having made some tests by adding the explicitly ignite 2.0, it seems to work quite well.

[2017-06-20 16:07] agura commented on #47
@ctranxuan I've tested it with Ignite 2.0 and it seems that it works better. But I think that implementation should be changed accordingly to https://cwiki.apache.org/confluence/display/IGNITE/Apache+Ignite+2.0+Migration+Guide

In progress.

[2017-06-22 06:19] #47 closed

[2017-09-21 13:47] agura opened #52 "Update Ignite version up to 2.3.0"
Ignite version should be updated up to 2.3.0

[2017-10-15 05:43] choey opened #53 "Expose underlying ignite instance"
`vertx-hazelcast` exposes the underlying hazelcast instance via `HazelcastClusterManager #getHazelcastInstance()`. One of its constructors also takes a `HazelcastInstance`, which is nice for injection and testing.

It would be nice if `vertx-ignite` expose the underlying ignite instance and allow one to be provided to a constructor.

[2017-10-22 09:55] abcfy2 opened #54 "vertx-ignite 3.5.0 not released?"
Vert.x 3.5.0 has been released, but why `vertx-ignite` 3.5.0 not?

[2017-10-22 10:32] vietj commented on #54
you can read https://groups.google.com/d/msg/vertx-dev/9I3S3-2WMxs/c-CGhVMoBwAJ

[2017-10-22 10:37] abcfy2 commented on #54
Oh thanks, I see.

[2017-10-22 10:37] #54 closed

[2017-10-22 15:16] agura commented on #53
Thanks! I'll try to resolve this issue in 5.3.0 release.

[2017-11-15 16:56] abcfy2 opened #57 "default-ignite.xml is not working?"
I just use the [default-ignite.xml](https://github.com/vert-x3/vertx-ignite/blob/master/src/main/resources/default-ignite.xml), but ignite start failed.

[code]

Here is my `build.gradle`:

[code]

And here is my vertx `Launcher` class:

[code]

But it seems this xml is working when I put it into ignite bin config. Maybe I lost some dependencies?

[2017-12-12 10:49] #43 closed

[2017-12-12 10:49] #52 closed

[2017-12-12 11:51] agura commented on #57
@abcfy2 I can't reproduce the problem. Could you please provide minimal reproducer or `cache.CacheLocator` and `utils.DBUtil` from your code snippet above?

[2017-12-12 14:48] tipok commented on #53
Hi,

@agura you've referenced this issue from #45 We did some tests internally and came across some issues especially if running ignite in persistence mode.

Once the old data is loaded into the cluster manager vert.x is going nuts and clustering isn't working any more. We came up with following solution:

1.  Prefixing all Vert.x internal caches
2. In the part IgniteConfiguration is already modif

[2017-12-12 15:47] abcfy2 commented on #57
Hi @agura
Here is my sample: https://github.com/abcfy2/vertx_ignite_test

Just clone this project and run:

    cd vertx_ignite_test
    ./gradlew shadowjar
    java -jar build/libs/vertx_ignite_test.jar

Will see this error:

[code]

I'm using openjdk 1.8.151 on Ubuntu 16.04.3

[code]

I've tried many times but the same error.

[2017-12-13 11:33] agura commented on #57
@abcfy2 Thanks a lot! I'll take a look.

[2017-12-13 11:41] #53 closed

[2017-12-13 11:56] agura commented on #53
@tipok Did you have a chance to debug why clustering doesn't work for persistence enabled?

[2017-12-13 13:32] agura commented on #57
@abcfy2 I've reproduced the issue. The problem is result uber-jar contains invalid `META-INF/spring-handlers` file. Shadowjar plugin use `spring.handlers` only from `spring-context` artifact but doesn't merge handlers from other Spring related artifacts. Unfortunately I don't know how to fix it. I believe this problem is already solved and you can just google the solution.

[2017-12-13 13:33] #57 closed

[2017-12-13 14:17] tipok commented on #53
@agura the problem we've seen:

The cluster was shutdown hard and nodes had no change to leave the cluster.
After a startup a different amount of nodes was started and those have tried to communicate with nodes which weren't there.
In fact the cluster manager does not need a possibility to persist the actual state.
If running 2.3 of ignite a different region could be created for all the ClusterMan

[2017-12-13 15:56] abcfy2 commented on #57
And I add a patch to fix this issue: https://github.com/abcfy2/vertx_ignite_test/commit/256432337f20b59c64124cf8869f25791b4036c6

Maybe the doc should mention this issue?

[2017-12-22 04:19] boliza opened #59 "ClusteredEventBus init error when connect to an exists Ingite Cluster"
ENV:
1. Vert.x stack version:3.5.0
2. Ignite Version:2.3.0
3. JDK:1.8.0
3. OS: utuntu 16.04 LTS/centos7

Exception Statck:
[code]

Ignite confiugration
[code]

Also  ClusterNodeInfo/ClusteredEventBus CNFE:
[code]

[2017-12-22 04:23] boliza commented on #59
Also sometimes : ClusterNodeInfo CNFE

[2018-01-03 11:24] tsegismont opened #60 "Failed to store session with IgniteClusterManager but succeed with HazelcastClusterManager"
Moved from vert-x3/vertx-web#793

### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
hello, when i use IgniteClusterManager , Failed to store session ，but change HazelcastClusterManager,it works right。

with IgniteClusterManager  ,excption message is:
javax.cache.CacheException: class org.apache.ignite.IgniteCheckedException: Failed to serialize object: {87851d06-3e06-4418-9131-f88

[2018-01-09 09:04] agura commented on #60
@tsegismont I'll take a look.

[2018-01-09 09:09] tsegismont commented on #60
@agura thank you!

[2018-01-11 14:42] agura opened #61 "Compilation is broken due to removed ClusterWideMapTestDifferentNodes class"
Compilation is broken due to removed ClusterWideMapTestDifferentNodes class

[2018-01-11 14:45] #61 closed

[2018-01-11 15:15] tsegismont commented on #61
@agura can you revert the change? I was working on a PR. Actually the class has not been removed, just renamed

[2018-01-11 15:38] agura commented on #61
@tsegismont Thanks for pointing! I'll revert change when your PR will be done. Is it ok for you?

[2018-01-11 16:02] agura commented on #60
@tsegismont It's obviously Apache Ignite bug. But why does Vert.x use `SessionImpl` as cache value? It seems valuable data is only `ConcurrentHashMap` instance with session attributes.

[2018-01-11 16:21] tsegismont commented on #61
Actually, let me push straight with the fix, if you don't mind.

2018-01-11 16:38 GMT+01:00 Andrey Gura <notifications@github.com>:

[2018-01-11 16:22] tsegismont commented on #60
@agura not sure, @pmlopes knows

[2018-01-11 16:41] tsegismont commented on #60
@agura actuall `SessionImpl` implements `ClusterSerializable`. So the cluster manager should be able to handle it

[2018-01-11 16:47] tsegismont commented on #60
@agura I just checked, the `AsyncMap` test suite checks that a `Serializable` object can be added, but not `ClusterSerializable`. Handling `ClusterSerializable` is mandatory. Can Ignite be configured to invoke a special serializer/deserializer for `ClusterSerializable`?

[2018-01-11 16:48] tsegismont commented on #60
@agura also, I'm going to add a test in `AsyncMapTest` for `ClusterSerializable`

[2018-01-11 17:09] agura commented on #60
@tsegismont Ignite doesn't know about Veert.x specific classes. I think Ignite cluster manager should check that key and value implement `ClusterSerializable` and do proper serialization.

[2018-01-11 17:22] tsegismont commented on #60
@agura I just pushed the new tests in core. When the new snapshot is built, we can overwrite the test to ignore it until this is fixed

[2018-01-11 17:28] tsegismont opened #63 "AsyncMap timeout not cleared if put is invoke"
See io.vertx.test.core.AsyncMapTest#testMapPutTtlThenPut:

[code]

This test fails with Ignite so for now it's ignored in this CM.

[2018-01-11 17:29] tsegismont commented on #63
@agura I would like to open an issue on the Ignite project. This test passes with Infinispan.

[2018-01-11 17:29] agura commented on #60
@tsegismont Thanks!

[2018-01-12 09:05] tsegismont commented on #60
@agura strangely enough, the new tests for `ClusterSerializable` pass. I wonder how that's possible (the objects used do not implement Serializable). Maybe Ignite does some sort of smart inspection of non-serializable objects. My test class only wraps a `String`. I'll try with something else.

[2018-01-12 09:14] agura commented on #60
@tsegismont In general, Ignite doesn't require `Serializable` implementation because it uses proprietary binary marshaller. But there are some cases when standard Java marshaller will be used as fallback marshaler and it can lead to `NotSerializableException`.

I have a fix for the problem and will commit it soon. It would be great if you will take a look.

[2018-01-12 09:16] agura commented on #61
@tsegismont Yes, sure.

[2018-01-12 09:36] tsegismont commented on #60
@agura will do

[2018-01-12 10:13] tsegismont commented on #60
@agura I managed to trick the marshaller so that it fails to serialize the test object. I just pushed 4c6d731 to ignore the tests. When you PR is ready, make sure the tests are executed again.

[2018-01-12 10:20] agura commented on #60
@tsegismont I've committed fix (see #64). Please, take a look.

[2018-01-12 11:46] agura commented on #63
@tsegismont Thanks a lot! I'll take a look.

[2018-01-12 15:23] #60 closed

[2018-01-15 16:39] agura commented on #63
Workaround exists and described in Apache Ignite JIRA: https://issues.apache.org/jira/browse/IGNITE-7401?focusedCommentId=16326380&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16326380

[2018-02-02 08:45] vietj opened #66 "Test sub removed with killed node does not pass constantly"
The reproducer is to modify the `IgniteClusteredEventbusTest` with:

[code]

and run it

[code]

the reported failure:

[code]

[2018-02-02 08:46] vietj commented on #66
can you check this @agura ?

[2018-02-13 15:46] agura commented on #66
I'll take a look.

[2018-04-05 07:14] blandger opened #67 "IgniteConfiguration (or IgniteInstanceName) is not exposed in IgniteClusterManager"
Hi all
Vertx 3.5.1 with ignite-core 2.3.0

We use some custom code to start up non-web SpringBoot application and deploy Verxt instances. Ignite is deployed internally by Vertx and 'random' Ignite instance name is given on every run inside
io.vertx.spi.cluster.ignite.IgniteClusterManager

[code]
Later the cfg (or IgniteInstanceName) is not exposed at all from this manager class.

I found out follo

[2018-07-06 03:45] cinterloper commented on #67
Can you start ignite separately , then create a cluster manager,  passing ignite to it, then create Vertx? for example:

(groovy, the java is very similar )

       Ignite ignite = Ignition.getOrStart(cfg)
        ignite.active(true)
        ClusterManager cm = new IgniteClusterManager(ignite)

...
Vertx.clusteredVertx(new VertxOptions().setClusterManager(cm), { AsyncResult<Vertx> result ->

[2018-12-05 16:28] vietj opened #71 "Travis CI job"
we need a Travis job for Ignite.

[2019-01-08 22:24] javadevmtl opened #73 "Support Ignite async operations."
Hi Ignite has async operation support, which allows us to do...

[code]

Also Ignite async operations are way faster then the blocking calls from what I tested on my implementation. Unfortunately I don't have the time to take this on at the moment. But leaving it here if someone wants to tackle it.

[2019-02-03 04:58] jinho-xthplanet opened #74 "ClusterWideMap ttl not working ?"
Hi
I am trying to use igite cluster wide map as cache of database. And to prevent being out of memory, I need use of ttl parameter of map.put(). (version 3.6.2)

But, when I use put method with ttl, it is not expired.

Is this known issue? or Am i doing something wrong?

Jinho.

[2019-05-25 03:33] jinho-xthplanet commented on #74
Is vertx ignite dead project? No responses are there of issues.

[2019-05-26 13:33] vietj commented on #74
@agura ping

[2019-06-19 08:21] PtD opened #75 "AsyncMultiMapImpl implementation causes memory exhaustion"
Hi,
When there are high number of messages published on the event bus (in the range of several thousands per second), the **AsyncMultiMapImpl#get** implementation is adding elements to taskQueue faster that they are drained - all tasks are executed sequentially in a single thread. Eventually, it causes all the heap memory to be consumed.

Other cluster managers don't use blocking calls for **Async

[2019-08-09 09:52] emogua opened #76 "IgniteClusterManager.join may throw java.lang.IllegalStateException: Result is already complete: succeeded"
fut.complete(); is called twice in line 288 and line 297.
It seems like does not effect normal flow. But I'm not sure about that.
I think the last call should be removed.

[2019-08-09 09:53] emogua commented on #76
Full stack trace:

8月 09, 2019 5:50:06 下午 io.vertx.core.impl.ContextImpl
严重: Unhandled exception
java.lang.IllegalStateException: Result is already complete: succeeded
	at io.vertx.core.impl.FutureImpl.complete(FutureImpl.java:95)
	at io.vertx.spi.cluster.ignite.IgniteClusterManager.lambda$null$4(IgniteClusterManager.java:288)
	at io.vertx.core.impl.ContextImpl.lambda$executeBlocking$2(ContextImpl

[2019-10-15 15:17] NavidMitchell commented on #76
I am seeing this same error every time I start a cluster node.

[2019-10-16 02:51] emogua commented on #76
I'm afraid this lib is dead, I implement it by myself...

[2019-10-16 19:57] NavidMitchell commented on #76
@emogua Hopefully they will pull.. :)

[2019-10-17 08:31] vietj commented on #76
@emogua you can become contributor of this project if you want

[2019-10-17 08:32] #76 closed

[2019-10-17 16:47] NavidMitchell commented on #76
@vietj I would be happy to become a contributor. Thank You :)

[2019-10-17 16:54] vietj commented on #76
how about starting upgrading Ignite version and having this project running in Travis CI ?

[2019-10-18 12:44] NavidMitchell commented on #76
Yes sure that is something I can work on.

[2019-12-28 18:02] cpdyj opened #80 "java.lang.NoClassDefFoundError: sun/misc/SharedSecrets for JDK11"
I get this Exception:
[code]
Following the Ignite 's docs I add VM options:
[code]
But it's not working. Should I add any options to `build.gradle` ? Thank you

[2020-04-07 22:00] JohnMcWaggy commented on #80
You can work around this issue for now by updating the versions of the Apache Ignite packages that are consumed by your project. The issue seems to be that older versions of Ignite (2.3.0 used by this package) do not support Java9-11, while newer versions of Ignite do. For my project, I fixed this issue by adding the following to my POM (Maven). You could try a similar thing in Gradle.

[code]

[2020-04-21 20:25] zyclonite opened #83 "Lock implementation change"
#### Describe the feature

Migrate back to a semaphore based lock

#### Use cases

Less code, cleaner solution
Ignite semaphores have a failoversage option to not run into #23 again

#### Contribution

fixed in #82

[2020-04-23 08:27] tsegismont commented on #80
This will be fixed by upgrading to 2.8.0, see #82

[2020-04-23 08:29] cpdyj commented on #80
Thanks for your reply. I will wait for update.

在 2020/4/23 16:27, Thomas Segismont 写道:

[2020-05-19 14:04] #80 closed

[2020-05-19 14:04] #83 closed

[2020-05-20 07:54] zyclonite opened #85 "refactor ignite configuration"
#### Describe the feature

Switch to a programmatic vertx default config and migrate xml based configuration overrides to json configs. Removes ignite-spring dependency.

#### Use cases

Remove a lot of overhead which is only used for config parsing.

#### Contribution

@tsegismont what so you think of this approach? https://github.com/zyclonite/vertx-ignite/commit/053d96df0f745f2ef2673dcc68235532

[2020-05-20 16:03] tsegismont commented on #85
I add a quick look at the branch. IIUC the spring dependency was only needed to use a Spring XML config?

[2020-05-20 16:50] zyclonite commented on #85
yes, my approach now would be to start with modeling only discovery and cache options as this will be the only overrides used by most of the users

if they need more, they can still inject the initialized ignite or inject the config into the cluster manager

[2020-06-17 06:52] zyclonite commented on #85
@tsegismont would you continue going that path or leave it as is?

[2020-06-17 13:18] tsegismont commented on #85
@agura what do you think about this proposal?

[2020-06-30 06:58] zyclonite commented on #66
this was resolved latest with the cluster spi refactoring...

[2020-06-30 07:01] zyclonite commented on #71
fixed with https://github.com/vert-x3/vertx-ignite/pull/79

[2020-06-30 07:02] zyclonite commented on #85
@agura any news on that?

[2020-06-30 07:36] #71 closed

[2020-06-30 07:36] tsegismont commented on #66
Closed in #82

[2020-06-30 07:36] #66 closed

[2020-06-30 07:40] tsegismont commented on #75
Resolved in #82

[2020-06-30 07:40] #75 closed

[2020-06-30 07:54] tsegismont commented on #59
Does not look like an Ignite bug, rather a packaging issue.

[2020-06-30 07:54] #59 closed

[2020-06-30 07:57] tsegismont commented on #73
`AsyncMap` implementation has used Ignite aync methods since #50 is merged.

[2020-06-30 07:57] #73 closed

[2020-06-30 08:01] tsegismont commented on #67
@cinterloper is right, instead of retrieving the instance built by Vert.x you shoud initialize an instance in Spring and provide the `IgniteClusterManager` with it.

[2020-06-30 08:01] #67 closed

[2020-06-30 08:21] tsegismont commented on #74
@jinho-xthplanet there are tests for `AsyncMap` with ttl that run fine on CI. Reopen if you still have issues. In this case, please provide a small reproducer.

[2020-06-30 08:21] #74 closed

[2020-07-13 16:28] zyclonite commented on #85
@tsegismont i fear we will not get an answer...

as this will be a breaking change, would be a good chance to get it ready before the 4.x release, if it's not already too late

[2020-07-15 13:14] tsegismont commented on #85
@zyclonite send a PR, I'll review it.

[2020-07-21 21:23] zyclonite commented on #85
@tsegismont that's the PR https://github.com/vert-x3/vertx-ignite/pull/88
could not resist to do some cleanups for logging as well...

[2020-08-07 15:31] javadevmtl opened #89 "Ignite cache operation block indefinitely until cluster establishes it's state."
### Version

3.9.x plus latest releases
Ignite 2.7.0

### Context

Looking at the code when you apply the cache operation even if IgniteFuture is supposed to be async. The ignite operation will block until the cluster is in good state.

### Do you have a reproducer?

No you need an Ignite cluster

### Steps to reproduce

1- Spin up ignite cluster
2- Make sure you have basic topology take down a no

[2020-08-07 18:14] javadevmtl commented on #89
I did something like this for my ignite implementation...

[code]

[2020-08-10 13:40] tsegismont commented on #89
@javadevmtl can you check with Ignite folks why this operation may block? Thank you

[2020-08-10 19:31] javadevmtl commented on #89
Hi I have a thread going here, waiting for answers.

https://mail.google.com/mail/u/1/#label/Apache+Ignite/KtbxLwgwzkkWFwFgjfcKtCfbrjKmfwLpLq

[2020-08-17 06:35] zhoudingyun opened #91 "Invalid cache expiration policy"
version: 3.9.2

example one:
public void main(RoutingContext routingContext) {
        vertx.sharedData().<String,String>getClusterWideMap("aa", asyncMapAsyncResult -> {
            if (asyncMapAsyncResult.succeeded()) {
                AsyncMap<String,String> a = asyncMapAsyncResult.result();
                a.put("test", "test", 5000, voidAsyncResult -> {
                    if (voidAsyncResult.

[2020-08-19 14:31] javadevmtl commented on #89
And here is an official bug recorded: https://issues.apache.org/jira/browse/IGNITE-13372

The gist of it is that if the ignite cluster is setup to use persistence which requires the cluster to be in active state then the IgniteCache instance starts to block. A dirty workaround is to listen for events and somehow re-init a new IgniteCache instance.

I guess for now maybe it should be a documented i

[2020-08-20 07:36] tsegismont commented on #89
We have this issue reported thanks to you. I believe it is enough as we cannot document each corner case in the reference manual.

[2020-09-29 04:07] zhoudingyun opened #92 "When the ignite node exits the cluster, the event bus message sending fails."
Version
3.9.x plus latest releases
Ignite 2.7.0

Context
When the ignite node exits the cluster, the event bus message sending fails.

Code
package io.vertx.core.spi.cluster.impl.selector;

import io.vertx.core.Promise;
import io.vertx.core.eventbus.Message;
import io.vertx.core.spi.cluster.ClusterManager;
import io.vertx.core.spi.cluster.RegistrationInfo;

import java.util.Collections;
import jav

[2020-09-30 13:58] tsegismont commented on #92
The code pasted above should be used with Vert.x 4 only. It can't be working with 3.9.

Can you confirm which version you are using?

[2020-10-01 04:27] zhoudingyun commented on #92
The code&nbsp; is Vertx 4,but Vertx 4 and Vertx 3 have the same problem.&nbsp;

The Ignite node use client mode, causing the Map in the NodeSelectors object to fail to empty. So EventBus gets the node information offline.

---Original---
From: "Thomas Segismont"<notifications@github.com&gt;
Date: Wed, Sep 30, 2020 21:58 PM
To: "vert-x3/vertx-ignite"<vertx-ignite@noreply.github.com&gt;;
Cc: "Manual

[2020-10-22 15:43] arad1994 opened #94 "Ignite Cluster Manager is randomly not clearing cache entries from __vertx.subs leading to half of the Events of failing."
### Version
Vertx-Ignite -> 4.0.0-milestone5
Vertx-Core -> 4.0.0-milestone5
Ignite Version -> 2.8.1
Zookeeper -> k8s.gcr.io/kubernetes-zookeeper:1.0-3.4.10

### Context

We are using Vertx with clustered Event bus using Ignite cluster manager with Zookeeper Service Discovery in a Kubernetes cluster. Randomly when a kubernetes pod is restarted, Sometimes the old entries from ignite cache __vertx.su

[2020-11-02 17:52] tsegismont commented on #94
@zyclonite would you mind looking into this?

[2020-11-05 08:03] zhoudingyun commented on #94
I also encountered the same problem. Hazelcast and Ignite cluster manager have the same problem.because the cache cannot be clean from __vertx.nodeInfo and __vertx.subs.

My Temporary method：
vertx.setPeriodic(5000, a -> {
            List<String> list = finalClusterManager.getNodes();
            vertx.sharedData().<String, HazelcastNodeInfo>getAsyncMap("__vertx.nodeInfo").onSuccess(nodeInfos ->

[2020-11-05 08:04] zhoudingyun commented on #94
I also encountered the same problem. Hazelcast and Ignite cluster manager have the same problem.because the cache cannot be clean from __vertx.nodeInfo and __vertx.subs.

My Temporary method：

vertx.setPeriodic(5000, a -> {
	List<String> list = finalClusterManager.getNodes();
	vertx.sharedData().<String, HazelcastNodeInfo>getAsyncMap("__vertx.nodeInfo").onSuccess(nodeInfos -> {
		nodeInfos.keys().

[2020-11-05 08:15] #91 closed

[2020-11-05 08:31] zhoudingyun opened #95 "Ignite cache cannot expire"
**Questions**
Set the cache and set the expiration time. When the expiration time is exceeded, the cache expires.
However, set the cache and set the expiration time. If you get the cache, the cache will not expire. This is a very serious problem. I found that the expiration policy was cleared when getting the cache.
![image](https://user-images.githubusercontent.com/32148584/98216735-6aa0cf80-1f84

[2020-11-05 10:39] zyclonite commented on #94
@arad1994 is it guaranteed that the shutdown is always graceful and not forced?

[2020-11-05 13:21] arad1994 commented on #94
@zyclonite Yes, I think the shutdown is graceful, We have a vertx.close() setup on the shutdown hook as well.

[2020-11-05 13:23] arad1994 commented on #94
@zhoudingyun Yes exactly, I am doing a similar workaround using a periodic poller to unblock us.

[2020-11-05 19:24] zyclonite commented on #94
@arad1994 and/or @zhoudingyun can you tell me if this PR https://github.com/vert-x3/vertx-ignite/pull/96 would fix your issues?

[2020-11-06 06:37] zhoudingyun commented on #94
@zyclonite this PR #96 can only solve some problems. If you use the kill -9 vertx process, the problem still exists. The same is true for hazelcast cluster management.

[2020-11-06 07:54] zyclonite commented on #94
@zhoudingyun did you test that or is this just an assumption?
there was definitely a bug allowing only the master to write but for this implementation it was just the oldest member of the cluster, so it could happen if this member leaves ungraceful, that no one updates the vertx nodes and subs when the remaining nodes get the fail event.

also worth to mention, killing a process should not impact

[2020-11-06 08:11] zhoudingyun commented on #94
@zyclonite Unfortunately, this problem occurred in my production environment. My business system adopts the client mode. At that time, the business system was forced to stop (kill -9 pid).The cache cannot be cleaned from __vertx.nodeInfo and __vertx.subs.
And the same problem exists with hazelcast cluster.
So I switched to hazelcast and used a temporary method:

![image](https://user-images.github

[2020-11-06 09:27] tsegismont commented on #94
@zhoudingyun can you please file an issue in `vertx-hazelcast`?

[2020-11-06 09:29] tsegismont commented on #94
@zhoudingyun it would be great if you could provide a minimal reproducer as well. Thank you

[2020-11-06 09:34] zhoudingyun commented on #94
@tsegismont Are you referring to this?
![Uploading image.png…]()

[2020-11-06 09:34] zhoudingyun commented on #94
@tsegismont Are you referring to this?
![image](https://user-images.githubusercontent.com/32148584/98350485-5fb66f80-2056-11eb-8f69-c08b3b95cd6d.png)

[2020-11-06 09:43] tsegismont commented on #94
@zhoudingyun in a previous comment you said you found the same issue with the Hazelcast cluster manager. I'm asking if you would mind creating an issue in the `vertx-hazelcast` repo and provide a minimal reproducer (simple program with your k8s config that demonstrates the issue).

[2020-11-06 09:56] zhoudingyun commented on #94
@tsegismont ok

[2020-11-06 13:56] arad1994 commented on #94
@zyclonite This PR looks good and might help us. Unfortunately I can't test this on the cluster, might take a few weeks and planning to get it out there. But we should merge this PR in.

[2020-11-08 13:57] zyclonite commented on #94
did quite some testing over the last days but could not reproduce the inconsistent subs any more with the latest fixes

i added as well better handling of an ignite node segmentation to the open PR

[2020-11-09 07:37] zyclonite commented on #95
this is a workaround https://github.com/vert-x3/vertx-ignite/issues/63 of an ignite issue [IGNITE-7401](https://issues.apache.org/jira/browse/IGNITE-7401)

[2020-11-09 07:38] #85 closed

[2020-11-09 08:03] zhoudingyun commented on #95
@zyclonite The problem I encountered is different from this one.

[2020-11-09 08:09] zyclonite commented on #95
can you provide a reproducer for your use-case?

[2020-11-09 08:35] zhoudingyun commented on #95
@zyclonite
case one:
Set up the cache and set the expiration time. Do not perform any operation and wait for the cache to expire. After the expiration time, the cache invalidation.
no problem with case one.
case two:
Set the cache and set the expiration time, then get the cache, After the expiration time, the cache cannot be invalidated.
case two is wrong.
I found that the cache expiration strateg

[2020-11-17 09:36] #92 closed

[2020-11-19 09:39] tsegismont opened #99 "Migrate to GH Actions"
See https://github.com/vert-x3/issues/issues/563

[2020-11-19 10:11] #99 closed

[2021-01-04 14:08] zyclonite commented on #94
@arad1994 did you had the chance to test the 4.0.0 release?

[2021-01-05 11:02] #95 closed

[2021-01-05 20:15] arad1994 commented on #94
@zyclonite Hey sorry did not get a chance to test the 4.0.0, Might take some time due to other commitments.

[2021-01-29 10:02] zyclonite opened #105 "ClusteredEventbusTest publish randomly fails"
### Version

4.0.0

### Context

Every 10 to 20 runs one of the publish tests fails.

### Steps to reproduce

Overriding one of the IgniteClusteredEventbusTests e.g.
[code]
After some cycles the test will run into the 2min timeout

### Extra

* It looks like a vertx-core test base issue as the publishing of the message is done too early (and once too often)

[2021-01-29 11:07] vietj commented on #105
can you fix that soon @zyclonite ?

[2021-01-29 11:17] jo5ef commented on #105
@vietj it's fixed [here](https://github.com/eclipse-vertx/vert.x/pull/3781)

[2021-01-29 11:34] zyclonite commented on #105
from ignite it's fine, just needs the fix from Josef in vertx-core to resolve

[2021-02-02 18:29] #105 closed

[2021-02-11 20:44] zyclonite opened #108 "Ignite cluster events slow down cache operations"
### Version

4.0.2

### Context

As also stated by ignite, consuming global put and delete events for all caches will have a severe performance impact.

[2021-02-19 10:18] #108 closed

[2021-03-04 13:46] arad1994 commented on #94
@zyclonite Finally Got a chance to test the 4.0.0, Things seemed stable for a while, then a day later, some of the pods ended up blocking threads indefinitely on `IgniteClusterManager.cleanNodeInfos` and `SubsMapHelper.removeAllForNode`. On Further look at the code, it's been done in a blocking fashion which is causing issues for for us. On updating the plugin code to it in async mode the issue go

[2021-03-04 16:19] zyclonite commented on #94
did you test 4.0.0 or already 4.0.2? as between these version, there were quite some issues fixed in that regards

switching to async methods for all operations would be worth a try, keep in mind that you will end up on an ignite thread so you need to switch back to the previous context when completing or failing the promise

maybe it would make sense to create a vertx listener to be used for the

[2021-03-04 19:23] arad1994 commented on #94
@zyclonite Just tested with 4.0.0, will try with 4.0.2 later this week and let you know, if that works out of the box. Hmm the listener might make sense

[2021-03-08 21:21] arad1994 commented on #94
@zyclonite I tried with the 4.0.2 and same result, eventually the thread starts blocking indefinitely. Is there an example for setting up the vertx Listeners, never done that before, wanted try out with listeners once.

[2021-03-09 14:46] zyclonite commented on #94
maybe a good example is [this one](https://github.com/vert-x3/vertx-rabbitmq-client/blob/6610fb5c387167696c059f4de5253bb0a1679ce9/src/main/java/io/vertx/rabbitmq/impl/ChannelConfirmHandler.java#L24) from the rabbitmq client

[2021-03-20 11:47] zyclonite commented on #89
since version 4.0.3 there is a `shutdownOnNodeStop` flag in the `IgniteOptions` which would shutdown vertx if the ignite node gets inactive

[2021-06-03 09:09] vietj commented on #94
@zyclonite should we close this issue ?

[2021-06-03 09:48] zyclonite commented on #94
@vietj yes i'll close it for now due to inactivity

[2021-06-03 09:48] #94 closed

[2021-07-13 11:36] DemonicTutor opened #117 "NodeListener from HAManagerImpl maybe not invoked (race condition)"
### Version

4.1.1

Some versions earlier (at the time the first race-condition fix was commited) it was thread safe because of invocation ordering.

### Context

I noticed that the NodeListener from HAManager somethimes does not get invoked and i think its a race between HAManager#init and IgniteClusterManager#join / #leave.

IgniteClusterManager sets a listener in Ignite which is executed on a I

[2021-07-16 19:02] #117 closed

[2021-07-16 19:06] zyclonite commented on #117
@DemonicTutor if you want this fix for version 4.1.2, please create a separate PR for the 4.1 branch

[2021-09-20 07:36] zyclonite opened #119 "Upgrade Ignite to 2.11.0"
#### Describe the feature

Latest Apache Ignite version

[2021-09-20 14:54] zyclonite commented on #119
merged with #120

[2021-09-20 14:54] #119 closed

[2021-11-03 14:33] DemonicTutor opened #121 "Ignite 2.11.0 IgniteFuture never completes - AsyncMap operations never complete"
### Version

VertX 4.2.0

### Context

After upgrading our microservices from VertX 4.1.0 to 4.2.0 we discovered in our clustered services HTTP calls which require `map.rxGet()` never complete.
There are no exceptions or any other hints.

The offending change is in Ignite 2.11.0 - they no longer execute the cache operations (futures processing the cache return) on their internal stripe threadpool

[2021-11-03 16:29] DemonicTutor commented on #121
its a JDK bug that the ForkJoin pool never creates a worker: https://github.com/adoptium/jdk17u/commit/328358a4e57dc0e3fec4d518d444bd91269f198e

but still i think its a good idea to keep the cache asyncs on the ignite threadpool and avoid submitting to ForkJoinPool

[2021-11-04 20:59] zyclonite commented on #121
nice find, thank you

seems this change was not mentioned in the release notes for 2.11.0 -> https://github.com/apache/ignite/commit/38d279afd18f21e6d26a6f3730999600372e039f

in your #122, you will fall back on the ignite striped pool which might run into they same issue the ignite guys tried to fix...
do you think it would make more sense to use the vertx threadpool?
e.g.
`cfg.setAsyncContinuatio

[2021-11-07 11:41] DemonicTutor commented on #121
Yes i checked the release notes and didnt find it there. a coworker actually pointed out this page in the ignite documentation to me.

From a point of view from VertX (vertx-ignite specifically) it is only about providing a implementation for the Clustered interface providing specific capabilities.
None of these provide a way to go from the ignite cache into a clustered computation.

Therefore i w

[2021-11-08 10:31] zyclonite commented on #121
right, in this case switching back to the previous behavior makes sense

[2021-11-08 10:32] #121 closed

[2021-12-09 12:45] zyclonite commented on #89
closing the issue due to inactivity, if this is still an issue we can reopen it

[2021-12-09 12:45] #89 closed